
    <%= form_with model: @post do |form| %>
      <h1>投稿編集</h1>
      <p>タイトル</p>
        <%= form.text_field :title %>
      <p>投稿内容</p>
        <%= form.text_field :content %>
        <%= render "form", post: @post %>
      <p>画像投稿</p>
        <%= form.file_field :image_name %>

        <%
=begin%>
 <% if @post.image_name? %>
          <div class="content-image">
            <%= image_tag @post.image_name.thumb.url  %>
          </div>
        <% else %>
          <div class="content-image">
            <%= image_tag "/no-image.png", class:"post_image" %>
          </div>
        <% end %>  
<%
=end%>

        <script type="text/javascript">
  $(function() {
    function readURL(input) {
        if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
    $('#img_prev').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
        }
    }
    $("#user_img").change(function(){
        readURL(this);
    });
  });
</script>
      <p>キャンプ場名</p>
        <%= form.text_field :campsite_id %>
      <%= form.submit "投稿する" %>
    <% end %>

<!--%= render "form", post: @post %>

<br>

<div>
  <%= link_to "Show this post", @post %> |
  <%= link_to "Back to posts", posts_path %>
</div -->
