<p style="color: green"><%= notice %></p>


<!-- ここから_form.html.erbの内容 -->


<%= form_with(model: @post) do |form| %>
  <% if @post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <!-- %= form.submit % -->
  </div>
<% end %>
<!--ここから更新ーーーーーーーーーーーーーーーーーーーー-->

<div class="title-content big-bg">
  <div class="wrapper">
    <h2>POSTS</h2>
    <p><%= link_to "新規投稿", new_post_path, class: "button"%></p>
  </div>
</div><!--/.title-content-->

<div id="main-contents" class="wrapper">
  <div class="tanomu">
    <article>
      <div class="wrapper grid">
        <% @posts.each do |post| %>
        <div class="item">
          <% if post.image_name? %>
              <%= image_tag post.image_name.thumb.url, class: "item-image" %>
          <% else %>
              <%= image_tag "/no-image.png", class:"item-image" %>
          <% end %> 
          <%= link_to post.title, post_path(post), class: "item-title"%>
        </div>
        <% end %>
      </div><!-- /.grid -->
    </article>

    <aside>
      <h3 class="sub-title">POSTS</h3>
      <ul class="sub-menu">
          <li><a href="#">投稿記事一覧</a></li>
          <li><a href="#">人気の投稿</a></li>
          <li><a href="#">お気に入りの投稿</a></li>
      </ul>

      <h3 class="sub-title">CAMPSITES</h3>
      <ul class="sub-menu">
          <li><a href="#">キャンプ場一覧</a></li>
          <li><a href="#">人気のキャンプ場</a></li>
          <li><a href="#">お気に入りのキャンプ場</a></li>
      </ul>
    </aside>
  </div><!-- /.tanomu-->
</div><!--/.main-contents-->















<%
=begin%>
 
<!-- ここまで -----------------------------------

<div class="container">

  <p class="page-title">Posts</p>

<検索機能 -->

  <!--div class="search-wrapper">
    <%= form_with url: search_path, local: true, method: :get do |form| %>
        <%= form.text_field :word %>
        <%= form.select :range, options_for_select([[:post],[:campsite]]) %>
        <%= form.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
        <%= form.submit "検索", disable_with: 'searching...' %>
    <% end %>
  </div>

  
  <div class="post-new">
  <% if user_signed_in? % >
  <!-- %= form_with model: @post, local: true do |form| % -->
    <!--%= form_with model: @post do |form| %>
      <h1>新規投稿</h1>
      <p>タイトル</p>
        <%= form.text_field :title %>
      <p>投稿内容</p>
        <%= form.text_field :content % -->        
        <!-- %= render "form", post: @post % -->
      <!--p>画像投稿</!--p>
        <%= form.file_field :image_name %>
      <p>キャンプ場名</p>
        <%= form.text_field :campsite_id %>
        <%= form.submit "投稿する" %>
    <% end %>
  <% end %>
  </div>

  <div class="post-contents">
    <% @posts.each do |post| %>
      <div class="post-content">
        <% if post.image_name? %>
          <div class="content-image">
            <%= image_tag post.image_name.thumb.url  %>
          </div>
        <% else %>
          <div class="content-image">
            <%= image_tag "/no-image.png", class:"post_image" %>
          </div>
        <% end %> 


        <div class="content-title">
          <%= link_to post.title, post_path(post) %>
        </div>

        <% if current_user %>
          <% if post.liked_by?(current_user) %>
            <%= button_to "いいね解除", "/posts/#{post.id}/likes", method: :delete %>
          <% else %>
            <%= button_to "いいね！", "/posts/#{post.id}/likes" %>
          <% end %> 
        <% end %>

        <p>いいね数：<%= link_to post.likes.count, "/posts/#{post.id}/likes" %></p>

        <div class="show-content">
          <div>
            <%= post.content %>
          </div>
          <div>
            <%= link_to post.user.name, user_path(post.user) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div -->
 
<%
=end%>
