<h1>campsite</h1>

<!-- %= image_tag @campsite.image_name % -->
<% if @campsite.image_name.present? %>
  <%= image_tag @campsite.image_name.thumb.url  %>
<% else %>
  <%= image_tag "no-image.png" %>
<% end %>
<%= @campsite.name %>
<%= @campsite.prefecture + @campsite.municipalitie + @campsite.address %>
<%= @campsite.introduction %>

<% if current_user %>
    <%= link_to "編集", edit_campsite_path %>
<% end %>





<p style="color: green"><%= notice %></p>

<%= render @campsite %>

<div>

  <%= link_to "キャンプ場一覧に戻る", campsites_path %>

  <%= button_to "キャンプ場を削除する", @campsite, method: :delete %>
</div>
