<!DOCTYPE html>
<html>
  <head>
    <title>CampApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- JavaScript導入 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" -->
    <script src="https://kit.fontawesome.com/fb8319747b.js" crossorigin="anonymous"></script>
  </head>

  <body>
  <div class="title-header">
      <div class="page-header wrapper">
            <!--i class="fa-solid fa-campground fa-2x"></!--i-->
        <h2><%= link_to "campsite title", "/" %></h2>
        <nav>
            <ul class="main-nav">
                <li><%= link_to "Posts", posts_path %></li>
                <li><%= link_to "Campsites", campsites_path %></li>
                <% if current_user %>
                  <li><%= link_to "My Page", user_path(current_user)%></li>
                <% end %>
            </ul>
        </nav>
      </div>
    </div><!--page-header-->
  </div>

    <div class="main-content">
        <%= yield %>
    </div><!--./main-contents-->

    <footer>
        <div class="wrapper">
            <p><small>&copy; 2022 sakata</small></p>
        </div>
    </footer>
  </body>
</html>



<!-- 下ココから上が新レイアウトーーーーーーーーーーーーー 
  <body>
    <header>
      <div class="site-logo">
        <i class="fa-solid fa-campground fa-2x"></i>
        <%= link_to "campsite title", "/" %>
      </div>
    </header>

    <div class="fullpage-container">
      <div class="side">
        <div class="side_contents">
          <div class="current_user">
            <div class="current_user_image">
              <% if current_user %>
                <% if current_user.image_name %>
                  <%= image_tag current_user.image_name.thumb.url, :size => '50x50', style: "border-radius: 50%; border: black solid 1px; display: inline-block; " %>
                <% end %>
            </div>
            <div class="current_user_content">
              <%= link_to current_user.name, user_path(current_user) %>
            </div>
          </div>
            <% end %>
          <ul>
            <li>
              <%= link_to "投稿一覧", posts_path %>
            </li>
            <li>
              <%= link_to "キャンプ場一覧", campsites_path %>
            </li>
            <li>
              <% if user_signed_in? %>
                <%= button_to "ログアウト", destroy_user_session_path, method: :delete %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

      <div class="main">
        <div class="main-container">

        </div>
      </div>
    </div>
  </body>
</html -->
