<!DOCTYPE html>
<html>
  <head>
    <title>CampApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= link_to "campsite title", "/" %>
    </header>

    <div class="fullpage-container">
      <div class="side">
        <div class="side_contents">
          <% if current_user %>
            <%= link_to current_user.name, user_path(current_user) %>
          <% end %>
          <ul>
            <li>
              <%= link_to "投稿一覧", posts_path %>
            </li>
            <li>
              <%= link_to "キャンプ場一覧", campsites_path %>
            </li>
            <li>
              <% if user_signed_in? %>
                <%= button_to "ログアウト", destroy_user_session_path, method: :delete %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

      <div class="main">
        <div class="container">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
